@model TecnoSphere.Models.DTO.SingleServiceVM
@{
    ViewData["Title"] = Model.services.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
@{
    string currentUrl = Context.Request.Scheme + "://" + Context.Request.Host + Context.Request.Path;
    string enc = System.Net.WebUtility.UrlEncode(currentUrl);
    string text = System.Net.WebUtility.UrlEncode(Model.services.Title);
}

<!-- Hero -->
<section id="slider" class="hero p-0 odd featured">
    <div class="swiper-container animation no-slider slider-h-75">
        <div class="swiper-wrapper">
            <!-- Particles -->
            <div id="particles-1" class="particles full-image" data-particle="space" data-mask="70"></div>

            <!-- Item 1 -->
            <div class="swiper-slide slide-center">

                <div class="slide-content row text-center">
                    <div class="col-12 mx-auto inner">
                        <h1 data-aos="zoom-out-up" data-aos-delay="400" class="title effect-static-text">@Model.services.Title</h1>
                        <nav data-aos="zoom-out-up" data-aos-delay="800" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                                <li class="breadcrumb-item"><a href="/services">Services</a></li>

                                <li class="breadcrumb-item active" aria-current="page">@Model.services.Title</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Content -->
<section id="content" class="section-1 single">
    <div class="container">
        <div class="row">

            <!-- Main -->
            <main class="col-12 col-lg-8 p-0">
                <div class="row">
                    <div class="col-12 align-self-center">
                        <img src="~/ServiceImages/@Model.services.Image" title="@Model.services.Title" />
                        @Html.Raw(@Model.services.ServiceContent)
                        
                     </div>
                </div>
            </main>

            <!-- Sidebar -->
            <aside class="col-12 col-lg-4 pl-lg-5 p-0 float-right sidebar">
                <div class="row">
                    <div class="col-12 align-self-center text-left">

                        <!-- Share This -->
                        <div class="item widget-share-this">
                            <h4>Share This</h4>
                            <ul class="navbar-nav social share-list">
                                

                                <li class="nav-item">
                                    <a href="https://www.facebook.com/sharer/sharer.php?u=@enc" target="_blank" rel="noopener noreferrer nofollow" class="nav-link"><i class="icon-social-facebook"></i></a>
                                </li>
                                @*<li class="nav-item">
                                    <a href="https://www.facebook.com/sharer/sharer.php?u=@enc" class="nav-link">
                                        <i class="icon-social-instagram ml-0"></i>
                                    </a>
                                </li>*@
                                <li class="nav-item">
                                    <a href=http://www.linkedin.com/shareArticle?mini=true&url=@enc&title=@text" target="_blank" class="nav-link"><i class="icon-social-linkedin"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a href="https://twitter.com/intent/tweet?url=@enc&text=@text" class="nav-link"><i class="icon-social-twitter"></i></a>
                                </li>
                            </ul>
                        </div>

                        <!-- Widget [services] -->
                        <div class="item widget-services">
                            <ul class="list-group list-group-flush widget-services">
                               
                                @foreach (var obj in Model.Serviceslist)
                                {
                                    <li class="list-group-item">
                                    <a href="services/@obj.Slug">
                                            <i class="@obj.Icon"></i>
                                            <h5>@obj.Title</h5>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>

                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>


